@media print {

    body,
    html,
    #outputWrapper {
        overflow: visible !important;
        height: auto !important;
        position: static !important;
    }


    #toolbar,
    #audio,
    #editor,
    #buttonPrint {
        display: none;
    }

    #outputWrapper {
        display: block;
        overflow: visible;
        left: 0px;
        top: 0px;
        width: auto;
        height: auto;
    }

    #output {
        overflow: visible;
    }


    #output div {
        overflow: visible;
    }

    [fill="#ff0000"] {
        fill: currentColor;
    }
}